@import "tailwindcss";


.page {
  position: relative;
}

/* Hide scrollbar */
* {
  scrollbar-width: none; /* Firefox */
  user-select: none; /* Disable text selection */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

